parameters:
	ignoreErrors:
		-
			message: '#^Strict comparison using \!\=\= between non\-empty\-string and '''' will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: ../../../src/Valkyrja/Http/Message/Header/Factory/HeaderFactory.php
