repos:
  - repo: local
    hooks:
      - id: psalm
        name: Psalm
        description: Run Psalm to statically analyze the codebase
        entry: pre-commit-hooks/psalm.sh
        language: script
        files: \.php$
        pass_filenames: true
      - id: php-cs-fixer
        name: PHP CS Fixer
        description: Run PHP CS Fixer to lint codebase
        entry: pre-commit-hooks/php-cs-fixer.sh
        language: script
        files: \.php$
        pass_filenames: true
      - id: phpunit
        name: PHPUnit
        description: Run PHPUnit to test codebase
        entry: pre-commit-hooks/phpunit.sh
        language: script
        files: \.php$
        pass_filenames: true
