name: Commit Message Check

on:
  pull_request:
    branches: [ "master" ]

permissions:
  # Required for commenting on pull requests
  pull-requests: write
  contents: read

jobs:
  build:
    name: Check Commit Message

    runs-on: 'ubuntu-latest'

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Check Commit Type
        uses: gsactions/commit-message-checker@v2
        with:
          # Example pattern: requires a type like "[BUGFIX]" at the start
          pattern: '\[[^\]]+\] .+$'
          error: 'Your first line has to contain a commit type like "[BUGFIX]".'
          excludeDescription: 'true'

      - name: Check Line Length
        uses: gsactions/commit-message-checker@v2
        with:
          pattern: '(.*){74}'
          error: 'The maximum line length of 74 characters is exceeded.'
          excludeDescription: 'true' # optional: this excludes the description body of a pull request
          excludeTitle: 'true' # optional: this excludes the title of a pull request
          checkAllCommitMessages: 'true' # optional: this checks all commits associated with a pull request
          accessToken: ${{ secrets.GITHUB_TOKEN }} # github access token is only required if checkAllCommitMessages is true

      - name: Check Period at end
        uses: gsactions/commit-message-checker@v2
        with:
          pattern: '.*.'
          error: 'Your first line has to end in a period.'
          excludeDescription: 'true'
          excludeTitle: 'true'

      - name: Report failure in PR comment
        if: steps.build_step.outcome == 'failure'
        env:
          GH_TOKEN: ${{ github.token }}
          PR_URL: ${{ github.event.pull_request.html_url }}
        run: |
          # Check if it's a pull request event
          if [ -z "$PR_URL" ]; then
            echo "Not a pull request, skipping comment."
            exit 0
          fi

          gh pr comment "$PR_URL" --body "Commit message does not adhere to requirements. Please fix this."
