name: Create Major Release Version Branch

on: workflow_dispatch

run-name: Create new version for upcoming major release

permissions:
  contents: write

jobs:
  get-version:
    name: Get Version

    runs-on: ubuntu-latest

    outputs:
      branch: ${{ steps.branch.outputs.branch }}
      version: ${{ steps.version.outputs.version }}

    steps:
      - name: Ensure using master
        env:
          BRANCH: ${{ github.ref_name }}
        run: |
          if [ "$BRANCH" != "master" ]; then
            echo "All new major release version branches must be made from latest master."

            exit 1
          else
            echo "Using master. Proceed."
          fi

      - name: Get Version for upcoming release based on latest
        id: version
        env:
          LATEST_MAJOR_VERSION: ${{ vars.LATEST_MAJOR_VERSION }}
        run: |
          NEW_VERSION=$((LATEST_MAJOR_VERSION + 1))
          echo "version=$NEW_VERSION" >> "$GITHUB_OUTPUT"

      - name: Format the Major Branch Version
        id: branch
        env:
          VERSION: ${{ steps.version.outputs.version }}
        run: |
          echo "branch=${VERSION}.x" >> "$GITHUB_OUTPUT"

      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.VALKYRJA_GHA_APP_ID }}
          private-key: ${{ secrets.VALKYRJA_GHA_PRIVATE_KEY }}

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ steps.generate-token.outputs.token }}

      - name: Get all branches for repository
        id: get_branches
        uses: octokit/request-action@v2.x
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
        with:
          route: GET /repos/${{ github.repository }}/git/matching-refs/heads

      - name: Check if major version branch already exists
        id: version-guard
        env:
          BRANCH: v${{ steps.branch.outputs.branch }}
          BRANCHES: ${{ steps.get_branches.outputs.data }}
        run: |
          if [[ $BRANCHES == *"refs/heads/$BRANCH"* ]]; then
            echo "Major version branch exists! Aborting."

            exit 1
          else
            echo "Major version branch does not exist! Proceeding."
          fi

  create:
    needs: get-version

    name: Creating branch for v${{ needs.get-version.outputs.version }} (${{ needs.get-version.outputs.branch }}) from ${{ github.ref_name }}

    runs-on: ubuntu-latest

    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.VALKYRJA_GHA_APP_ID }}
          private-key: ${{ secrets.VALKYRJA_GHA_PRIVATE_KEY }}

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ steps.generate-token.outputs.token }}

      - name: Create branch ${{ needs.get-version.outputs.branch }} from ${{ github.ref_name }}
        env:
          BRANCH: ${{ needs.get-version.outputs.branch }}
        run: |
          git checkout -b "$BRANCH"
          git push origin "$BRANCH"

  update-files-post-branch-create:
    needs: [create, get-version]

    name: Update files for ${{ needs.get-version.outputs.branch }} after creation

    runs-on: ubuntu-latest

    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.VALKYRJA_GHA_APP_ID }}
          private-key: ${{ secrets.VALKYRJA_GHA_PRIVATE_KEY }}

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ needs.get-version.outputs.branch }}
          token: ${{ steps.generate-token.outputs.token }}

      - name: Update README.md
        env:
          BRANCH: ${{ needs.get-version.outputs.branch }}
        run: |
          sed -i "s/${{ github.ref_name }}/$BRANCH/g" README.md

      - name: Update composer.json
        env:
          BRANCH: ${{ needs.get-version.outputs.branch }}
        run: |
          sed -i "s/"dev-master" : "*-dev"/"dev-master" : "$BRANCH-dev"/g" composer.json

      - name: Update CHANGELOG.md
        env:
          BRANCH: ${{ needs.get-version.outputs.branch }}
        run: |
          echo -e "# Release Notes for $BRANCH\n## [Unreleased](https://github.com/valkyrjaio/valkyrja/compare/$BRANCH...master)" > CHANGELOG.md

      - name: Commit version specific updates
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "[${{ needs.get-version.outputs.branch }}] Update references for v${{ needs.get-version.outputs.version }}"

      - name: Update repository variable with community action
        uses: mmoyaferrer/set-github-variable@v1.0.0
        with:
          name: 'LATEST_MAJOR_VERSION'
          value: ${{ needs.get-version.outputs.version }}
          token: ${{ steps.generate-token.outputs.token }}
