name: Merge Major Version Up

on: workflow_dispatch

run-name: Merge ${{ github.ref_name }}

permissions:
  contents: write

env:
  LATEST_MAJOR_VERSION: 25

jobs:
  process-version:
    name: Process Version

    runs-on: ubuntu-latest

    outputs:
      major-version: ${{ steps.major-version.outputs.version }}
      merge-into-branch: ${{ steps.determine-merge-branch.outputs.branch }}

    steps:
      - name: Ensure not using master
        env:
          BRANCH: ${{ github.ref_name }}
        run: |
          if [ "$BRANCH" == "master" ]; then
            echo "Cannot use master to merge up. Master is highest."

            exit 1
          else
            echo "Not using master. Proceed."
          fi

      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.VALKYRJA_GHA_APP_ID }}
          private-key: ${{ secrets.VALKYRJA_GHA_PRIVATE_KEY }}

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ steps.generate-token.outputs.token }}

      - name: Get major version number
        id: major-version
        env:
          BRANCH: ${{ github.ref_name }}
        run: |
          echo "version=${BRANCH%%.*}" >> "$GITHUB_OUTPUT"

      - name: Determine branch to merge into
        id: determine-merge-branch
        env:
          MAJOR_VERSION: ${{ steps.major-version.outputs.version }}
        run: |
          if [ "$MAJOR_VERSION" == "$LATEST_MAJOR_VERSION" ]; then
            echo "branch=master" >> "$GITHUB_OUTPUT"

            exit 0
          else
            MERGE_BRANCH=$MAJOR_VERSION + 1

            echo "branch=$MERGE_BRANCH.x" >> "$GITHUB_OUTPUT"
          fi

  merge:
    needs: process-version

    name: Merging ${{ github.ref_name }} to ${{ needs.process-version.outputs.merge-into-branch }}

    runs-on: ubuntu-latest

    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.VALKYRJA_GHA_APP_ID }}
          private-key: ${{ secrets.VALKYRJA_GHA_PRIVATE_KEY }}

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ needs.process-version.outputs.merge-into-branch }}
          token: ${{ steps.generate-token.outputs.token }}

      - name: Merge ${{ github.ref_name }} into ${{ needs.process-version.outputs.merge-into-branch }}
        env:
          FROM_BRANCH: ${{ github.ref_name }}
          TARGET_BRANCH: ${{ needs.process-version.outputs.merge-into-branch }}
        run: |
          git checkout $FROM_BRANCH
          git checkout $TARGET_BRANCH
          git merge --no-commit "$FROM_BRANCH"

          IGNORED_FILES=("CHANGELOG.md" "VERSION.md" "composer.json" "README.md")

          for IGNORED_FILE in "${IGNORED_FILES[@]}"; do
            git checkout --ours -- "$IGNORED_FILE"
            git add "$IGNORED_FILE"
          done

      - name: Commit README.md badge change
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "[Merge] Merge branch `${{ github.ref_name }}` into `${{ needs.process-version.outputs.merge-into-branch }}"
