name: Tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ${{ matrix.operating-system }}

    strategy:
      fail-fast: true
      matrix:
        operating-system: [ 'ubuntu-22.04' ]
        php: [ '8.4', '8.5' ]
        stability: [ prefer-lowest, prefer-stable ]

    name: PHP ${{ matrix.php }} - ${{ matrix.stability }}

    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, intl
          ini-values: zend.assertions=1
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Validate composer.json and composer.lock
        run: composer validate --strict

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v3
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: Install dependencies for PHP Arkitect
        run: |
          cd .github/ci/phparkitect
          composer install --prefer-dist --no-progress

      - name: Install dependencies for Psalm
        run: |
          cd .github/ci/psalm
          composer install --prefer-dist --no-progress

      - name: Install dependencies for PHP CS Fixer
        run: |
          cd .github/ci/phpcsfixer
          composer install --prefer-dist --no-progress

      - name: Install dependencies for PHPUnit
        run: |
          cd .github/ci/phpunit
          composer install --prefer-dist --no-progress

      # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"fan
      # Docs: https://getcomposer.org/doc/articles/scripts.md

      - name: Make build logs dir
        run: mkdir -p .github/ci/phpunit/build/logs

      - name: Run Psalm
        if: ${{ matrix.php != '8.4' }}
        run: |
          composer psalm-no-cache

      - name: Run Psalm with Shepherd
        if: ${{ matrix.php == '8.4' }}
        run: |
          composer psalm-shepherd

      - name: Run PHPArkitect
        if: ${{ matrix.php == '8.4' }}
        run: |
          composer phparkitect

      - name: Run PHP CS Fixer
        if: ${{ matrix.php == '8.4' }}
        run: |
          composer phpcsfixer

      - name: Run PHPUnit tests
        if: ${{ matrix.php != '8.4' }}
        run: |
          composer phpunit-no-cov

      - name: Run PHPUnit tests
        if: ${{ matrix.php == '8.4' }}
        run: |
          composer phpunit-coverage

      - name: Upload Codecov Coverage Report
        if: ${{ matrix.php == '8.4' }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload Coveralls Coverage Report
        if: ${{ matrix.php == '8.4' }}
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          composer coveralls
