name: PHP Code Sniffer

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: true
      matrix:
        os: [ 'ubuntu-latest' ]
        php: [ '8.4' ]

    name: PHP ${{ matrix.php }}

    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, intl
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3
        with:
          composer-options: ${{ matrix.php == '8.6' && '--ignore-platform-req=php+' || '' }} --prefer-dist --no-progress
          custom-cache-suffix: $(date -u "+%Y-%m")

      - name: Install PHP Code Sniffer Composer dependencies
        uses: ramsey/composer-install@v3
        with:
          composer-options: ${{ matrix.php == '8.6' && '--ignore-platform-req=php+' || '' }} --prefer-dist --no-progress
          custom-cache-suffix: $(date -u "+%Y-%m")
          working-directory: .github/ci/phpcodesniffer

      - name: Run PHP Code Sniffer
        run: |
          composer phpcodesniffer
