name: Psalm

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  # Required for commenting on pull requests
  pull-requests: write
  contents: read

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        os: [ 'ubuntu-latest' ]
        php: [ '8.4' ]

    name: PHP ${{ matrix.php }}

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Determine if workflow should run based on files changed
        id: changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            files:
              - '.github/ci/psalm/**'
              - '.github/ci/suggested/**'
              - '.github/workflows/psalm.yml'
              - 'bin/valkyrja'
              - 'functions/**/*.php'
              - 'src/**/*.php'
              - 'tests/**/*.php'
              - 'composer.json'

      - name: Setup PHP
        if: steps.changes.outputs.files == 'true'
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, intl

      - name: Install Composer dependencies
        if: steps.changes.outputs.files == 'true'
        uses: ramsey/composer-install@v3
        with:
          composer-options: --prefer-dist --no-progress
          custom-cache-suffix: $(date -u "+%Y-%m")

      - name: Install Psalm Composer dependencies
        if: steps.changes.outputs.files == 'true'
        uses: ramsey/composer-install@v3
        with:
          composer-options: --prefer-dist --no-progress
          custom-cache-suffix: $(date -u "+%Y-%m")
          working-directory: .github/ci/psalm

      - name: Install Suggested Packages Composer dependencies
        if: steps.changes.outputs.files == 'true'
        uses: ramsey/composer-install@v3
        with:
          composer-options: --prefer-dist --no-progress
          custom-cache-suffix: $(date -u "+%Y-%m")
          working-directory: .github/ci/suggested

      - name: Run Psalm with Shepherd
        if: steps.changes.outputs.files == 'true'
        run: |
          composer psalm-shepherd

      - name: Report failure in PR comment
        if: steps.build_step.outcome == 'failure'
        env:
          GH_TOKEN: ${{ github.token }}
          PR_URL: ${{ github.event.pull_request.html_url }}
        run: |
          # Check if it's a pull request event
          if [ -z "$PR_URL" ]; then
            echo "Not a pull request, skipping comment."
            exit 0
          fi

          gh pr comment "$PR_URL" --body "Psalm failed. Please run \`composer psalm\` locally, fix all the issues, and commit the changes."
