name: Validate Composer

on:
  push:
    branches: [ 'master', '*.x' ]
  pull_request:
    branches: [ 'master', '*.x' ]

permissions:
  # Required for commenting on pull requests
  pull-requests: write
  contents: read

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        os: [ 'ubuntu-latest' ]
        php: [ '8.4' ]
        paths:
          - name: Root
            path: ./
            options: '--strict'
          - name: Churn
            path: .github/ci/churn
            options: '--no-check-publish'
          - name: PHPArkitect
            path: .github/ci/phparkitect
            options: '--no-check-publish'
          - name: PHP Code Sniffer
            path: .github/ci/phpcodesniffer
            options: '--no-check-publish'
          - name: PHP CS Fixer
            path: .github/ci/phpcsfixer
            options: '--no-check-publish'
          - name: PHP Metrics
            path: .github/ci/phpmetrics
            options: '--no-check-publish'
          - name: PHPStan
            path: .github/ci/phparkitect
            options: '--no-check-publish'
          - name: PHPUnit
            path: .github/ci/phpunit
            options: '--no-check-publish'
          - name: Psalm
            path: .github/ci/psalm
            options: '--no-check-publish'
          - name: Rector
            path: .github/ci/rector
            options: '--no-check-publish'
          - name: Root and Suggested Packages
            path: .github/ci/root-and-suggested
            options: '--no-check-publish'

    name: Composer ${{ matrix.paths.name }}

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Determine if workflow should run based on files changed
        id: changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            composer:
              - '**/composer.*'
              - '.github/workflows/validate-composer.yml'

      - name: Setup PHP
        if: steps.changes.outputs.composer == 'true'
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, intl, sodium, fileinfo

      - name: Validate composer.json
        if: steps.changes.outputs.composer == 'true'
        run: |
          cd ${{ matrix.paths.path }}
          composer validate ${{ matrix.paths.options }}

      - name: Report failure in PR comment
        if: steps.build_step.outcome == 'failure'
        env:
          GH_TOKEN: ${{ github.token }}
          PR_URL: ${{ github.event.pull_request.html_url }}
          COMPOSER_NAME: ${{ matrix.paths.name }}
          COMPOSER_PATH: ${{ matrix.paths.path }}
          COMPOSER_OPTIONS: ${{ matrix.paths.options }}
        run: |
          # Check if it's a pull request event
          if [ -z "$PR_URL" ]; then
            echo "Not a pull request, skipping comment."
            exit 0
          fi

          gh pr comment "$PR_URL" --body "Composer for $COMPOSER_NAME is not valid. Please run \`composer validate $COMPOSER_OPTIONS\` locally in the \`$COMPOSER_PATH\` directory, fix the issues, and commit the changes."
