name: Validate Composer.json

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: true
      matrix:
        os: [ 'ubuntu-latest', 'windows-latest' ]
        php: [ '8.4', '8.5', '8.6' ]

    name: PHP ${{ matrix.php }} (${{ matrix.os == 'ubuntu-latest' && 'Linux' || 'Windows'  }})

    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, intl
          ini-values: zend.assertions=1
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Validate composer.json and composer.lock
        run: composer validate --strict
